* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    padding: 0;
    margin: 0;
}

/* Header */
.logo {
    padding: 0;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    width: 20%;
}

/* .akun {
    padding: 0;
    margin: 0;
    width: 5vw;
} */

#header img {
    vertical-align: middle;
    width: 100%;
}

#header {
    height: 15vh;
    vertical-align: middle;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#header li {
    float: left;
}

#header li a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    block-size: 15vh;
    color: #514136;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}
  
#header li a:hover:not(.logos):not(.akuns) {
    background-color: #F59556;
    color: #514136;
}

/*Content*/

#content {
    height: 75vh;
    background-color: #514136;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: white;
    font-size: 25px;
    padding-top: 15%;
}

/* Footer */
#footer {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    color: #514136;
    background-color: #EEEEEE;
}